@import url('https://fonts.googleapis.com/css2?family=Inter');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: whitesmoke;
}

.container-wrapper {
  display: flex;
}

.admin-container,
.products-container {
  margin: 20px 10px 20px 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.admin-container {
  max-width: 300px;
  width: 300px;
  flex-grow: 1;
}

.products-container {
  flex-grow: 1;
}

.admin-container form,
.products-container form {
  padding: 20px;
}

form input:not(#agreement) {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  font-size: 17px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

form input[type="text"] {
  margin-bottom: 20px;
}

form input[type="button"] {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

form p {
  font-family: 'Inter', sans-serif;
  margin: 0 0 5px 0;
}

#image {
  margin-bottom: 15px;
}

.product-item {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.product-item img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.product-item-details {
  flex-grow: 1;
}

.product-item h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-item p {
  margin: 0;
}